body {
    transition: background-color 0.3s, color 0.3s;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body.dark-theme {
    background-color: black;
    color: white;
}

body.light-theme {
    background-color: white;
    color: black;
}

#count {
    font-size: 30px;
}

.dark-theme #theme-toggle2 svg:first-child {
        display: block;
}
.dark-theme #theme-toggle2 svg:last-child {
    display: none;
}

.light-theme #theme-toggle2 svg:last-child {
        display: block;
}
.light-theme #theme-toggle2 svg:first-child {
        display: none;
    }

#theme-toggle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
}

#box {
    display: flex;
    justify-content: space-between;
}