body {
    background-color: black;
    color: white;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
}

p {
    font-size: 30px;
    border: 10px solid yellow;
    padding: 20px;
    background-color: green;
    margin: 50px;
}

@keyframes ball {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(-200px);
    }
}

.ball {
    animation: ball .5s ease-in-out infinite;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    margin: auto;
}